[github]
  user = tkwidmer
  
[alias]
  uncommit = reset --soft HEAD^
  l = log --pretty=format:'%h %an %Cred%ar %d %Cgreen%s'
  
[branch]
  autosetupmerge = true

[push]
  default = current

[color]
  diff = auto

[color "branch"]
  current = green
  local = cyan
  remote = yellow

[color "status"]
  added = green
  changed = red
  untracked = cyan
